* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    position: fixed;
}

.header-content {
    float: left;
}

.header-menu {}

.header-title {
    width: 185px;
    height: 25px;
}